$container-width: 1170px;
$main-font-family: "Lato", sans-serif;
$title-font-family: "Red Hat Display", sans-serif;
$main-font-size: 1rem;
$main-font-weight: 400;
$main-color: #565656;
$main-color-title: #000000;
$color-footer-bg: #f4f4f4;

$desktop: 1200px;
$tablet: 992px;
$mobile: 576px;